h1,
h2,
h3,
.h,
h {
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;

    &1,
    &--1 {
        font-size: clamp(2.25rem, 1.8099rem + 1.8779vw, 3.5rem);
        line-height: clamp(2.8125rem, 2.2623rem + 2.3474vw, 4.375rem);
    }

    &2,
    &--2 {
        font-size: clamp(1.625rem, 1.3169rem + 1.3146vw, 2.5rem);
        line-height: clamp(2.0625rem, 1.6884rem + 1.5962vw, 3.125rem);
    }

    &3,
    &--3 {
        font-size: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
        line-height: clamp(1.875rem, 1.6549rem + 0.939vw, 2.5rem);
    }
}

p,
.p {
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
    line-height: clamp(1.625rem, 1.581rem + 0.1878vw, 1.75rem);
    font-style: normal;
    color: $gray;

}