html {
    scroll-behavior: smooth;
    background-color: $white;
}

input,
textarea,
button {
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
}


.btn {
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
    padding: $p-10 $p-50;
    font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
    line-height: 28px;
    border-radius: 28px;
    text-align: center;
    width: fit-content;
    color: $white;
    transition: background-color .3s;

    @media (max-width: 576px) {
        padding: $p-5 $p-30;
    }

    &--primary {
        background-color: $black;

        &:hover {
            background-color: $light-purple;
        }
    }

    &--secondary {
        background-color: $red;

        &:hover {
            background-color: $orange;
        }
    }
}

a {
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
    color: inherit;
    text-decoration: unset;
}