.about {
    margin-block: $p-100 $p-70 ;

    .container {
        display: flex;
        justify-content: space-between;
        gap: $p-90;
    }

    &-img {
        max-width: clamp(18.75rem, 15.559rem + 13.615vw, 27.8125rem);
    }

    &-text {
        display: flex;
        flex-direction: column;
        gap: $p-40;
        margin-block: auto;
    }
}


@media (max-width:992px) {
    .about {
        margin-block: $p-90;

        .container {
            margin-left: -44px !important;
            padding-left: 0 !important;
            gap: $p-65;
        }

        &-text {
            gap: $p-30;
        }


    }
}

@media (max-width:768px) {
    .about {
        margin-block: $p-80;

        .container {
            margin-left: auto !important;
            padding-left: $p-45 !important;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: $p-60;
        }

        &-text {
            align-items: center;
        }
    }
}

@media (max-width:576px) {
    .about {
        .container {
            padding-left: $p-10 !important;
        }
    }
}