.about {
    margin-block: $p-70 ;

    .container {
        display: flex;
        justify-content: space-between;
        gap: $p-90;
    }

    &-img {
        width: 445px;
    }

    &-text {
        display: flex;
        flex-direction: column;
        gap: $p-40;
        margin-block: auto;
    }
}